<!DOCTYPE html>


<html>

<head>
	<meta charset="utf-8">
	<title>Converting and Segmenting a CT Scan Using Mia</title>
	<link class="page" rel="stylesheet" type="text/css" href="../stylesheets/stylesheet.css">

</head>

<body>


	<div class="content">
		<nav>
			<a href="../../index.html" class="page"> Home </a> |
			<a href="../views/usersupport.html" class="page"> User Support </a> |
			<a href="../views/developersupport.html" class="page"> Developer Support</a>
		</nav>
	</div>

	<div class="content">
		<h1>Converting and Segmenting a CT Scan Using Mia</h1>
		<p>Since you are dealing with converting and segmenting stack of CT images at one time, you should use command line mode of Mia. It is simple and powerful since it can apply every filter at one time with one line of command.</p>
		<h3>1. Slightly blur stack of CT images to reduce noise.</h2>
		<p>On the bash shell line, you can simply type  ./Mia -i [First CT image directory] -blur 5.0 -o [Output CT image directory] to apply the blur filter to every CT image in the directory.
		<p>EXAMPLE) ./Mia -i brainstack/ -blur 5.0 -o brainstack/<br>
		*warning: this will overwrite the images, to not overwrite use a different -o directory*</p>
		<p>Mia will automatically apply the blur to a stack of images and save the output images in the same directory.</p>
		<h3>2. Quantize the result into 4 segments.</h2>
		<p>On the bash shell line, you can simply type ./Mia -i [First CT image directory] -quantize 4 -o [Output CT image directory] to quantize every CT image in the directory by 4.
		<p>EXAMPLE) ./Mia -i brainstack/ -quantize 4 -o brainstack/<br>
			*warning: this will overwrite the images, to not overwrite use a different -o directory*</p>
		<p>Mia will automatically quantize every image by 4 and save the output images in a new directory.</p>
		<p>For any more questions type "./Mia -h" without the quotes and you will get a full list of available commands.</p>
	</div>

	<div class="footer">
		<!-- You can change the copyright! -->
		<span class="copyright">&copy; 2015, CSCI 3081 Guru</span>
	</div>


</body>

</html>
