<!DOCTYPE html>


<html>

<head>
	<meta charset="utf-8">
	<title>Getting Started with Mia</title>
	<link class="page" rel="stylesheet" type="text/css" href="../stylesheets/stylesheet.css">

</head>

<body>


	<div class="content">
		<nav>
			<a href="../../index.html" class="page"> Home </a> |
			<a href="../views/usersupport.html" class="page"> User Support </a> |
			<a href="../views/developersupport.html" class="page"> Developer Support</a>
		</nav>
	</div>

	<div class="content">
		<h1>Getting Started with Mia</h1>
		<h2>Loading Images</h2>
		<p>On the right side of the screen you will see a box entitled "<a target="_blank" href="../images/tutorial1/imageIO.jpg">Image I/O</a>" which stands for Image Input and Output. You will first select an image in the file selector by double clicking on it. You can confirm it is loaded by seeing the image name in the "Image: " box below the file selector. Once you have confirmed it is selected select "Load Canvas" and you will see the image loaded!</p>
		<p>Now that the image is loaded you can choose from a <a target="_blank" href="../images/tutorial1/filters.jpg">large list of filters</a> to apply to this image (you can also use the brushes we just learned about). To learn more about how each filter works please go <a target="_blank" href="http://www.lodev.org/cgtutor/filtering.html">here</a> or reference <a target="_blank" href="https://www.google.com">google</a></p>
		<p>If you would like to annotate these images you can choose from the Red pen brush or the Arrow brush. To use a filter just select a number and click "Apply". For a more technical look at what the numbers on the filters mean please go <a target="_blank" href="http://www.lodev.org/cgtutor/filtering.html">here</a> or reference <a target="_blank" href="https://www.google.com">google</a>.</p>
	</div>

	<div class="footer">
		<!-- You can change the copyright! -->
		<span class="copyright">&copy; 2015, CSCI 3081 Guru</span>
	</div>


</body>

</html>
