<!DOCTYPE html>


<html>

<head>
	<meta charset="utf-8">
	<title>Getting Started with FlashPhoto</title>
	<link class="page" rel="stylesheet" type="text/css" href="../stylesheets/stylesheet.css">

</head>

<body>


	<div class="content">
		<nav>
			<a href="../../index.html" class="page"> Home </a> |
			<a href="../views/usersupport.html" class="page"> User Support </a> |
			<a href="../views/developersupport.html" class="page"> Developer Support</a>
		</nav>
	</div>

	<div class="content">
		<h1>Getting Started with FlashPhoto</h1>
		<p>FlashPhoto has many exciting features that you can use to fulfill your creative desires. The many tools for this creative outreach include various brushes and filters! Below you will learn how to use these cool features.</p>
		<h2>Brushes</h2>
		<p>You will first select the wanted brush from the <a target="_blank" href="../images/tutorial1/toolTypeMenu.jpg">Tool Type</a> list. Once the tool is selected you can then draw in the large white square and it's just like using a piece of paper! This behavior can be mimicked for any of the tools in the "Tool Type" list. <sub>Note: if you ever make a mistake just hit the <a target="_blank" href="../images/tutorial1/undo.jpg">undo and redo buttons</a>!</sub> You can also change the colors of these tools by selecting a color just below the "Tool Type" list.</p>
		<h2>Filters</h2>
		<p>What if you are in the mood for playing with images though? We have plenty of options for that as well. On the right side of the screen you will see a box entitled "<a target="_blank" href="../images/tutorial1/imageIO.jpg">Image I/O</a>" which stands for Image Input and Output. You will first select an image in the file selector by double clicking on it. You can confirm it is loaded by seeing the image name in the "Image: " box below the file selector. Once you have confirmed it is selected select "Load Canvas" and you will see the image loaded!</p>
		<p>Now that the image is loaded you can choose from a <a target="_blank" href="../images/tutorial1/filters.jpg">large list of filters</a> to apply to this image (you can also use the brushes we just learned about). To use a filter just select a number and click "Apply". For a more technical look at what the numbers on the filters mean please go <a target="_blank" href="http://www.lodev.org/cgtutor/filtering.html">here</a> or reference <a target="_blank" href="https://www.google.com">google</a>.</p>
	</div>

	<div class="footer">
		<!-- You can change the copyright! -->
		<span class="copyright">&copy; 2015, CSCI 3081 Guru</span>
	</div>


</body>

</html>
